.o_opportunity_kanban {
    .ribbon {

   font-size: 15px;
   font-weight: bold;
   height: 17px;
   width: 63px;
   color: white !important;
   background: #2471A3;
   padding-left: 10px;
   padding-right: 10px;
    padding-bottom: 25px;
   border-radius: 5px;
   display: inline-flex;
}
}